.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #262525   ;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black; 
}
.Container
{
  max-width: 100%;
}
.image
{
 
  width: 100%;
position:absolute;top:0;left:0;z-index:-1
}

.connectbutton{
  position:fixed;
	width:50px;
	height:50px;
	bottom:60px;
	right:60px;
	background-image:url("./images/metamask.svg") ;
	color:#FFF;
  border-radius: 20%;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: none;
  z-index: 999;
  transition: all 1s;
}



.homepage{
background-color: rgb(0, 121, 64) ;  
min-height: 90vh; 
}

.homehead{
  font-family: 'Silkscreen', cursive;
  padding-top: 3rem;
  text-align: center;
  color: #D8CDB4;
  font-size: 5rem;
}

.homehead2{
  color: white;
  font-size: 4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.homeimg{
min-height: 19rem;
}

.homeimg>img{
  position: relative;
  height: 19rem;
  width: 19rem;
  margin-left:20%;
  
}


.row2{
  float: right;
  width: 80%;
}

.column>img{
  display: inline;
  width: 50%;
}



.btn4{

  min-height: 3rem;
  color: aliceblue;
  margin: auto;
  text-align: center;
  padding: 0.5rem;
  transition: all 1s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  width: 20rem;
background-color: black;
border-radius: 5px;
border: white solid 1px;
font-size: 2.5rem;
}
.btn4:hover{
  transform: scale(1.05);
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}

.imgholder{
  display:flex;
        flex-direction: column;
} 


.imgholder>img{
  max-width: 60%;
  margin-left: 20%;
  background-color: rgb(234, 52, 52);
}

.heading4{

  color: bisque;
  font-size: 4em;
  margin-top: 3rem;

}

.footer{
  background-image: linear-gradient(to bottom right,#000000,#242424);
  padding: 0.6%;
  color: aliceblue;
  border-top: #d1d1d1 solid 2px;
  
}
.footer>p{
  display: inline;
  margin: 10%;

}

.footimg{
  margin-left: 1%;
  transition: 0.6s all;
}

.footimg:hover{
  transform: scale(1.2);
}