.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.Container
{
  max-width: 100%;
}
.image
{
 
  width: 100%;
position:absolute;top:0;left:0;z-index:-1
}

.connectbutton{
  position:fixed;
	width:50px;
	height:50px;
	bottom:60px;
	right:60px;
	background-image:url("./images/metamask.svg") ;
	color:#FFF;
  border-radius: 20%;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  border: none;
  z-index: 999;
  transition: all 1s;
}

.connectbutton:hover{
  width:60px;
	height:60px;
  transform-style: preserve-3d;
    transform: perspective(200em) rotateZ(360deg); 
    box-shadow:  3px 3px rgba(67, 57, 57 ,0.3);
    transition: all 1s ;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loadingIndicator {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid grey; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top: 15px;
}
