.claimpage{
    background-color: rgb(221, 218, 197);
    min-height: 97vh;
}
.options{
    width: 70%;
    margin: -5% 15%;
    padding: 1rem;
    border: 2px solid black;
    height: 40vh;
    overflow-y: auto;
    margin-bottom: 5%;

}

.claimrow{
    transition: all 1s;
    min-height: 3rem;
    max-height: 4rem;
    border: 1px solid black;
    margin-top: 1%;
    margin-left: 1%;
}

.claimrow:hover{
    transform: scale(1.05);
}

.marg{
    margin-top: 1%;
}